{% extends "template_base.html" %}

{% block title %}
    Personas
{% endblock %}


{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Ciudad</th>
                <th><a href='/personas/add'>Agregar Persona</th>
            </tr>
        </thead>
        <tbody>
            {% for user in lista %}
                <tr>
                    <td>{{user.name.first}} {{user.name.last}}</td>
                    <td>{{user.dob.age}}</td>
                    <td>{{user.location.city}}</td>
                    <td>{{user.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

{% endblock %}